:root {
    --bg_gray: #0f0f0f;
    --hover_gray:#1b1b1b;
    --bg_black: #000000;
    --text_white: #ffffff;
}
@font-face {
  font-family: 'satoshiblack';
  src: url('../font/Satoshi-Black.ttf') format('woff2'),
       url('../font/Satoshi-Black.ttf') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'falsesemi-bold';
  src: url('../font/Satoshi-Bold.ttf') format('woff2'),
       url('../font/Satoshi-Bold.ttf') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'satoshimedium';
  src: url('../font/Satoshi-Medium.ttf') format('woff2'),
       url('../font/Satoshi-Medium.ttf') format('woff');
  font-weight: normal;
  font-style: normal;

}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: gray ; 
  }
.gc-main{
    background-color: var(--bg_black);
    color: var(--text_white);
    font-family: 'satoshimedium';
}
a{
  text-decoration: none !important;
  color: var(--text_white) !important;
  font-family: 'satoshimedium';
}



/* sidebar start*/
  .gc-sidebar {
      /* padding-top: 23px; */
      background-color: var(--bg_gray);
      color: var(--text_white);
      height: 100vh;
      font-family: 'satoshimedium';
      /* position: fixed; */
  }
  .header_logo{
      width: 90%;
      background-color: var(--bg_gray);
  }
  .header_row{
      background-color: var(--bg_gray);
  }
  .sidebar_menu ul li{
      padding: 15px;
  }
  .sidebar_menu ul li:hover{
      background-color: var(--bg_gray);
      border-radius: 10px;
  }
  .side-bar .menu .item .sub-menu a:hover{
      background-color: var(--hover_gray);
   }
  .side-bar .menu{
    width: 100%;
    margin-top: 10px;
   }
   .side-bar .menu .item{
    position: relative;
    cursor: pointer;
   }
   .side-bar .menu .item a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 40px;
   }
   .side-bar .menu .item .sub-menu a{
    line-height: 30px;
    padding-left: 45px;
    font-size: 13px;
   }
   .side-bar .menu .item a:hover{
    border-radius: 5px;
    background: var(--bg_black);
    transition: 0.3s ease;
   }
   .side-bar .menu .item IMG{
    margin-right: 25px;
    width: 20px;
   }
   .side-bar .menu .item span{
    display: none;
   }
   .open .side-bar .menu .item span{
    display: block;
   }
   .visible .side-bar .menu .item a {
    padding: 15px 0px 15px 10px;
  }
   .visible .side-bar h4 {
    display: none;
   }
   .visible .side-bar {
    padding: 15px 10px !important;
   }
   .visible .side-bar .menu .item a .dropdown {
    /* margin: 13px; */
    margin: 5px;
  }
  .visible .side-bar .menu .item .sub-menu a {
    padding-left: 23px !important;
  }
   .side-bar .menu .item .sub-menu IMG{
    margin-right: 15px;
    width: 19px;
   }
   .side-bar .menu .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
   }
   .side-bar .menu .item .sub-menu{
    background: var(--bg_black);
    /* border-radius: 7px; */
    display: none;
   }
   .sidebar_menu .menu .active{
    background-color: var(--bg_black);
    border-left: 1px solid var(--text_white);
    border-radius: 0px 15px 15px 0px;
   }
   .side_normal{
    width: 17%;
   }
   .content_normal{
    width: 83%;
   }
   .side_small{
    width: 5%;
   }
   .content_big{
    width: 95%;
   }
   
   /* sidebar Complete */

   /* header starts */
   .toggle_bar img{
    width: 18px;
   }
   #menu {
    border-radius: 0px !important;
    height: calc(100vh - 2 * (1.5rem));
    border-radius: 1rem;
    overflow-y: auto;
    transition: all 250ms ease-in-out;
  }
  #menu-btn {
    /* width: 30px; */
    transform: scale(1.5);
    cursor: pointer;
    opacity: 0.5;
  }
  #menu-btn:hover {
    opacity: 1;
  }
   .header{
    background-color: var(--bg_gray);
   }
   img.noti_bell{
    width: 27px;
   }
   img.profile{
    width: 35px;
   }
   .dropdown-toggle::after {
    display: none !important;
   }
  .sidepanel  {
    width: 0px;
    position: fixed;
    z-index: 10000;
    height: 100vh;
    top: 0;
    right: 0 !important;
    background-color: var(--bg_gray);
    transition: 0.5s;
    padding-top: 15px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .sidepanel a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    /* font-size: 25px; */
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidebar{
    left: unset !important;
  }
  .sidepanel a:hover {
    color: #111;
  }
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    /* font-size: 36px; */
  }
  .header .dropdown-menu{
    background-color: var(--bg_black);
  }
  .header .dropdown-menu li a:hover{
    background-color: var(--bg_gray);
  }
/* header complete */



/* Dashboard Start */
  .card{
      /* padding: 15px; */
      border: none !important;
      background-color: var(--bg_gray) !important;
      color: var(--text_white) !important;
  }
  .gc_dashboard_boxes img{
    width: 50px;
  }
  .rwd-table {
    margin: auto;
    /*min-width: 300px;*/
    max-width: 100%;
    border-collapse: collapse;
  }
  .rwd-table tr:first-child {
    border-top: none;
    background-color: var(--bg_gray);
    /*color: #fff;*/
  }
  .rwd-table tr th {
    border-top: 1px solid var(--bg_black);
    border-bottom: 1px solid var(--bg_black);
    background-color: var(--bg_gray);
    color: var(--text_white);
  }
  .rwd-table tr td {
    border-top: 1px solid var(--bg_black);
    border-bottom: 1px solid var(--bg_black);
    background-color: var(--bg_gray);
    color: var(--text_white);
  }
  .rwd-table th {
    display: none;
  }
  .rwd-table td {
    display: block;
  }
  .rwd-table td:before {
    content:  attr(data-title);
    font-weight: bold;
    width: 120px;
    display: inline-block;
   
  }
  .rwd-table th,
  .rwd-table td {
    text-align: left;
  }
  .rwd-table {
    border-radius: .4em;
    overflow: hidden;
  }
  .rwd-table tr {
    border-color: var(--bg_black);
  }
  .rwd-table th,
  .rwd-table td {
    padding: .5em 1em;
  }
  #chartContainerpie{
    height: 400px !important;
  }
  #sidebar{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  .element {
    transition: box-shadow 300ms ease-out 6ms;
  }
  .element:hover {
    box-shadow: 0px 0px 9px 2px rgb(255 255 255 / 13%);
}
.element h4{
  font-weight: 600 !important;
}

/* Dashboard Complete */

/* Staff Starts */
.breadcrumb-item.active {
  color: var(--text_white) !important;
}
.breadcrumb-item+.breadcrumb-item::before {
  color: var(--text_white) !important;
}
/* Staff Complete */